#about{
    display: flex;
    padding: 1%;
    border: 1px solid red;
    margin: 3% 0;
}

  /* tablet screens */
  @media screen and (max-width: 768px) {
 
  }


  /* mobile screens */
@media screen and (max-width: 480px) {
   
}