#about{
  color: #ffffff;
  margin-top: 5%;
}

#about>h1{
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em blue, 0 0 0.2em blue;
}

#about>div{
    display: flex;
    padding: 1%;
    /* border: 1px solid red; */
    margin: 3% 0;
    justify-content: space-between;
}

#about>div>img{
  border: 5px solid rgb(255, 255, 255);
  width: 40%;
  border-radius: 1% 6%;
  margin: auto;
  box-shadow:  -3px -3px 5px #bebebe,
         3px 3px 5px #ffffff;
}

#about>div>p{
  padding: 50px;
  /* border: 1px solid black; */
  font-size: 23px;
  color: white;
  letter-spacing: 0.5px;
}

  /* tablet screens */
  @media screen and (max-width: 768px) {
    #about>div{
      margin: auto;
      display: flex;
      flex-direction: column;
    }

    #about>div>p{
      font-size: 16px;
      padding: 0;
    }

   

  }


  /* mobile screens */
@media screen and (max-width: 480px) {
   
}