#home{
    color: aliceblue;
}

#home>img{
    width: 60%;
    display: block;
    margin: auto;
}

#home>div{
 text-align: center;
}


#text2 {
      display: inline-block;
      border-right: .10em solid orange;
      animation: 
            blink-caret .75s step-end infinite;
  }

  h2{
    display: inline-block;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(68, 68, 68); }
  }

  /* tablet screens */
@media screen and (max-width: 768px) {
  #home{
    margin: auto;
    width: 100%;
  }
  #home>img{
    width: 100%;
}
}

/* mobile screens */
@media screen and (max-width: 480px) {
  
}