#home{
    border: 1px solid black;
    width: 100%;
    
}

#home>img{
    width: 50%;
    display: block;
    margin: auto;
}

/* h1, h2{
    text-align: center;
} */

h1{
    display:inline-block;
    padding-right: 10px;
  }
  
h2{
      display: inline-block;
      border-right: .10em solid orange; 
     color: green;
      animation: 
            blink-caret .75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(68, 68, 68); }
  }