#home {
  color: aliceblue;
}

#home > img {
  width: 60%;
  display: block;
  margin: auto;
}

#home > div {
  text-align: center;
}

#resume-link-2 {
  text-decoration: none;
}

#resume-button-2 {
  padding: 10px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  display: block;
  margin: auto;
  margin-top: 20px;
  border: 2px solid aliceblue;
  font-size: large;
  letter-spacing: 0.5px;
}

#text2 {
  display: inline-block;
  border-right: 0.1em solid orange;
  animation: blink-caret 0.75s step-end infinite;
}

h2 {
  display: inline-block;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(68, 68, 68);
  }
}

/* tablet screens */
@media screen and (max-width: 768px) {
  #home {
    margin: auto;
    width: 100%;
  }
  #home > img {
    width: 100%;
  }
}

/* mobile screens */
@media screen and (max-width: 480px) {
}

@media screen and (min-width: 769px) {
}
