body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#nav-menu{
    /* border: 1px solid black; */
    display: flex;
    width: 23%;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 2vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 5vh 0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    border-radius: 20px;
}

#nav-menu>a{
    margin: 6% 0;
}



main{
    display: flex;
}



.nav-link>button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   }
   
   .nav-link>button{
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
   }
   
   .nav-link>button:before {
    height: 0%;
    width: 2px;
   }
   
   .nav-link>button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
       inset -4px -4px 6px 0 rgba(255,255,255,.2),
       inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
   }
   