#projects {
  color: white;
 
 
}

#projects > h1 {
  text-align: center;
  color: aliceblue;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em blue, 0 0 0.2em blue;
}

.project-card {
  padding: 25px 10px;
  text-align: center;
  margin: 8vh 0vh;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  /* border: 1px solid rgba(255, 255, 255, 0.92); */

}

.project-card > h2 {
  font-size: 1.8rem;
  text-shadow: 0.5px 0.5px 1px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.project-card > p {
  padding: 0px 10px;
  font-size: 1.2rem;
}

.project-card > img {
  width: 85%;
  display: flex;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#project-btn {
  display: flex;
  margin-top: 5vh;
  justify-content: space-evenly;
}

.project-github-link > button,
.project-deployed-link > button {
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.project-github-link > button:hover,
.project-deployed-link > button:hover {
  background-color: #00b7ff;
  box-shadow: 0px 15px 20px rgb(53, 56, 244);
  color: #fff;
}

/* tablet screens */
@media screen and (max-width: 768px) {
  .project-card > h2 {
    font-size: 1.2rem;
  }

  .project-card > p {
    font-size: 1rem;
  }
  .project-github-link > button,
  .project-deployed-link > button {
    padding: 0.6rem 1.2rem;
  }

  .project-card > img {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .project-card > p {
    padding: 0px;
  }
}
